head
    title= 'BuildLatex'
    link(rel='stylesheet', href='lib/bootswatch/readable/bootstrap.min.css')
    link(rel='stylesheet', href='/css/style.css')

    script(type='text/javascript' src='lib/angular/angular.min.js')