doctype html
html(lang='en')
    head
        title= 'BuildLatex'
        link(rel='stylesheet', href='/css/style.css')
        link(rel='stylesheet', href='/lib/fontawesome/css/font-awesome.min.css')
    body
        div
            | Hi #{user.login}
