extends base
block append title
  |  | Settings
block append content
  .row
    div(class='small-12 large-10 small-centered columns')
      h3.text-center Your repositories
      table(style='width:100%')
        thead
          tr
            th
              | Repositories
            th
              | Status
        tbody
        each repo in repos
          tr
            td
              = repo.name
            td
              input(type='checkbox', id='toggle_' + repo.name, class='toggle')
              label(for='toggle_' + repo.name)
                | &nbsp;
